USE [base_aa]
GO
/****** Object:  Trigger [dbo].[ATUALIZA_ULT_NUMNOTA_EMPRESA]    Script Date: 19/01/2023 08:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[ATUALIZA_ULT_NUMNOTA_EMPRESA]
ON [dbo].[EMPRESA]
AFTER UPDATE AS
	DECLARE @CODEMPRESA INT
	DECLARE @COD INT
	DECLARE @ULTNUMEMPRESA INT
	DECLARE @MAXSAIDA INT
	DECLARE @MAXENTRADA INT
	DECLARE @SERIE VARCHAR(3)
	SET @CODEMPRESA = (SELECT MAX(CODIGO) FROM EMPRESA)
	SET @COD = 0

	WHILE @COD<@CODEMPRESA
		BEGIN
			SET @COD = @COD+1
			PRINT 'Verificando última numeração da Empresa: ' + CAST(@COD AS VARCHAR(2))

			SET @SERIE = (SELECT SERIENOTA FROM EMPRESA WHERE CODIGO= @COD)
			PRINT 'SERIE: ' + @SERIE

			SET @ULTNUMEMPRESA = (SELECT ISNULL(CONVERT(INT, ULTNUMNOTA),0) FROM EMPRESA WHERE CODIGO=@COD AND SERIENOTA = +'' + @SERIE + '')

			SET @MAXSAIDA = (SELECT ISNULL(MAX(CONVERT(INT, NUMNOTA)),0) FROM NFSAIDA WITH (NOLOCK) WHERE CODEMPRESA= @COD AND MODELO='55' AND SERIE = +''+ @SERIE+ '')
			SET @MAXENTRADA = (SELECT ISNULL(MAX(CONVERT(INT,NUMNOTA)),0) FROM NFENTRADA WITH (NOLOCK) WHERE CODEMPRESA= @COD AND MODELO='55' AND SERIE = + '' + @SERIE + '' AND UTILNUMPROPRIA = 1)
			PRINT 'NUMSAIDA: ' + CAST(@MAXSAIDA AS VARCHAR)
			PRINT 'NUMENTRADA: ' + CAST(@MAXENTRADA AS VARCHAR)


			IF(@MAXSAIDA>@MAXENTRADA AND @MAXSAIDA>@ULTNUMEMPRESA)
				UPDATE EMPRESA
					SET ULTNUMNOTA = @MAXSAIDA
					WHERE CODIGO = @COD
			ELSE IF(@MAXENTRADA> @MAXSAIDA AND @MAXENTRADA>@ULTNUMEMPRESA)
				UPDATE EMPRESA
					SET ULTNUMNOTA = @MAXENTRADA
					WHERE CODIGO = @COD		
		END;


